@charset "UTF-8";


section{
	padding-left:15px;
}
section .item-category{
	margin-top:100px;
	font-size:30px;
	
}

section .item-header{
	margin-top: 20px;
	
}
section .item-header .item-title{
	margin: 5px 0;
}
section .item-header .item-box{
	border-bottom:1px solid #ccc;
	margin: 5px 0;
	padding-bottom:20px;
}
section .item-header .item-box span{}
section .item-header .content{}
section .item-header .content p{}
/* -----------------------------  */
.alter-btn{
	width:300px;
	margin:50px auto 30px auto;
	text-align:center;
}
.alter-btn a input{
	border:none;
	border-radius:10px;
	padding:10px 20px;
	margin: 0 5px;
	cursor:pointer;
	transition:.5s;
	background: #fff;
	font-weight:bold;
	
}
.alter-btn a:first-child input{
	border:2px solid blue;
}
.alter-btn a:last-child input{
	border:2px solid red;
}
.alter-btn a:first-child:hover input{
	background-color:blue;
	color:#fff
}
.alter-btn a:last-child:hover input{
	background-color:red;
	color:#fff
}




/* -----------------------------  */

.comments{
	margin-top:50px;
	padding-bottom:25px;
	border-bottom: 1px solid #eee;
}
.comments textarea{
	border-radius:5px;
	width:100%;
}
.comments input{
	border:none;
	padding:10px;
	border-radius:5px;
}


/* -----------------------------  */

.comments-list{
	margin-top:20px;
}
.comments-list div{
	border-bottom: 1px solid #eee;
	padding-bottom: 15px;
}
.comments-list div span{}
.comments-list div span:nth-of-type(2){
	color:#999;
}
.comments-list div p{}