@charset "UTF-8";


@import url("common.css");

main{
	display:flex;
}


main > header > nav > .logo > a{
  width: 40px;
}
main header nav .logo > a > img{
  width: 100%;
  height: 100%;
}

section{
	width:90%;
}
h1{
	font-size:1.5em;
}
h2{
	font-size:1.5em;
	margin-bottom:15px;
	text-align:center;
}
main header nav .logo > h1 a{
	font-size:1em;
	padding-left:8px;
	color:#333;
}

.logo {
	display:flex;
	justify-content:center;
	align-items: center;
	margin-top:20px;
}

header{
	width: 400px;
	height:95vh;
	display:flex;
	flex-direction: column;
	align-items: center;
	position:relative;
	overflow:hidden;
}
header::before{
	content:'';
	width:2px;
	height:70%;
	background-color:#eee;
	position:absolute;
	right:0;top:50%;
	transform: translate(0,-50%);
	z-index:1;
}
body > main > header > nav > a:nth-of-type(1){
	padding:15px;
}
.account{
	display:flex;
	flex-direction: column;
	align-items:center;
}
.account > a{
	background-color: khaki;
	width:150px;
	padding:10px;
	margin-top:10px;
	text-align:center;
	font-family: "Do Hyeon", sans-serif;
  	font-weight: 400;
  	border-radius: 10px;
  	font-style: normal;
	
	
}

.user-name{
	padding:10px;
	margin-top:10px;
}
.user-interface{
	display:flex;
	font-size:12px;
}
.user-interface a{
	font-size:1em;
	margin: 5px;
	position:relative;
	
}
.user-interface a::after{
	content:'';
	position:absolute;
	left:0;bottom:-5px;
	width:0;
	height:2px;
	background-color:#333;
	transition:.5s;
}
.user-interface a:hover::after{
	
	width:100%;
}











footer{
	width:100%;
	position:absolute;
	bottom: 0; left: 0;
	background-color:#eee;
	text-align:center;
	
}
footer p{
	color:#666;
	padding: 15px 0;
}