@charset "UTF-8";


section{
	width:90%;
	display:flex;
	justify-content: center;
	align-items: center;
}
article{
	position:relative;
}
form{
}
form label{
	
}
form input{
	padding:5px 45px 5px 15px;
	border-radius:10px;
	margin:5px 0;
	
	border:2px solid khaki;
	outline:none;
}
form input:focus{
	border-color: olive;
}

form .change-btn{
	margin-top:30px;
	width:100%;
	padding: 15px 0;
	border:3px solid rgb(218, 206, 50);
	background-color:khaki;
	font-weight: bold;
	color:#333;
	transition: .5s;
}


form .change-btn:hover{
	background-color:#fff;
	color:#000;
}
form .delete-btn{
	margin-top:30px;
	width:100%;
	padding: 10px 0;
	border:3px solid rgb(241, 50, 36);
	border-radius:5px;
	background-color:rgb(241, 50, 36);
	color:#fff;
	font-weight: bold;
	
	transition: .5s;
	
}

form .delete-btn:hover{
	background-color:#fff;
	color:#333;
}




.alert-box,.delete-box{
	display:none;	
}
.alert-box,.delete-box{
	text-align:center;
	background-color:khaki;
	padding:15px;
	position:absolute;
	left:50%;top:50%;
	transform:translate(-50%,-50%);
	z-index:99;
	
}
.delete-box{
	background-color: rgb(241, 50, 36);
	color:#fff;
}


.alert-button,.delete-button{
	display:flex;
	justify-content: center;
	align-items: center;
	
}
.alert-button button,.delete-button button{
	width:100px;
	margin: 5px;
	border:none;
	padding:5px;
	background-color: #fff;
	
}
.alert-button button:hover{
	background-color:orange;
	color:#fff;
}
.delete-button button:hover{
	background-color:#ddd;
}


.none-click.active{
	width:100vw;
	height:100vh;
	background-color:rgba(0,0,0, 0.5);
	position:absolute;
	left:0;top:0;
	z-index:98;
}

.insert-btn{
	text-align:center;
	background-color:khaki;
}